@use "../variables" as *;

.footer {
  text-align: center;
  padding: 24px;
  font-family: $font-body;
  font-weight: 600;
  color: $dark;
  border-top: $outline-width solid $outline;
  background-color: $white;
}
